docs/arquitectura.mmd
docs/Resumen-implementacion-Asistente-Regatas.docx
docs/informe-arquitectura.md
docs/Guía de Implementación.docx
docs/Inception.docx
docs/Informe Final.docx
docs/Esquematico.drawio
documentos auxiliares/
notebooks auxiliares/
